*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
============================
Parent Rule Sets
============================
*/

.flex-container
{
    /* ---Dimensions--- */
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    /* ---Flex--- */
    display: flex;
    border: cyan 2px solid;
    justify-content: center;
}

#card
{
    /* ---Flex--- */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* ---Dimensions--- */
    padding: 2%;
    position: relative;
}

/* 
========================
Child Rule Sets
========================
*/


/* All Children of flex-container 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 
.flex-container > *
{
    flex-basis: 100%;
}

/* All Children of #card (or the sections) 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

#card > *
{
    margin: 5%;
    font-size: clamp(0.8rem, 1.7vh, 2rem);
    border: chocolate 2px solid;
}


#card > :first-child /* Selects all header tags */
{
    font-size: clamp(1.0rem, 5vh, 1.7rem);
    font-weight: 200;
}

.sedan 
{
    border: blue 2px solid;
}

.suv
{
    border: orange 2px solid;
}

.lux
{
    border: green 2px solid;
}

#btn-more
{
    margin-top: 28%;
    width: 50%;
}