*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
============================
Parent Rule Sets
============================
*/

.flex-container
{
    /* ---Dimensions--- */
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    /* ---Flex--- */
    display: flex;
    border: cyan 2px solid;
    justify-content: center;
}

#card
{
    /* ---Flex--- */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* ---Dimensions--- */
    padding: 30px;
}

/* 
========================
Child Rule Sets
========================
*/


/* All Children of flex-container 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 
.flex-container > *
{
    flex-basis: 100%;
}

/* All Children of #card (or the sections) 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

#card > *
{
    margin: 10%;
    font-size: clamp();
}

.sedan 
{
    border: blue 2px solid;
}

.suv
{
    border: orange 2px solid;
}

.lux
{
    border: green 2px solid;
}

#btn-more
{
    top: ;
    width: 50%;
}